.noTodos {
  font-family: sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #a2a2a2;
}

.completed {
  text-decoration: line-through;
}